{% extends 'ALKWebBundle::weblayout.html.twig' %}

{% block title %}List of articles{% endblock %}

{% block body %}

{% for article in articles %}
	<div class="hero-unit">
	{% include 'ALKWebBundle:MyArticles:onearticle.html.twig' %}
	</div>
{% endfor %}

{% endblock %}