<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->

        {% stylesheets '@ALKWebBundle/Resources/public/bootstrap/css/bootstrap.min.css'
                       '@ALKWebBundle/Resources/public/bootstrap/css/fix.css'%}
                       <!-- 
                       '@ALKWebBundle/Resources/public/alix/css/a2lix_translation.css'  -->
            <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
        {% block more_stylesheets %}
        {% endblock %}
        <link rel="alternate" type="application/rss+xml" title="Videled's {{ app.request.locale }} Articles" href="{{ url('alk_article_rss') }}" />
    </head>
    <body>
        {% block navbar %}
        {% endblock %}

        {% block body %}
        {% endblock %}

<!-- 
            '@ALKWebBundle/Resources/public/alix/js/a2lix_translation.js' -->
        {% javascripts
            '@ALKWebBundle/Resources/public/bootstrap/js/bootstrap.min.js'
            'http://code.jquery.com/jquery-latest.js'
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts_more %}
        {% endblock %}
    </body>
</html>