{% extends 'ALKWebBundle::weblayout.html.twig' %}

{% block body %}
	<div class="hero-unit">
		<h1>Heed this article, in {{ locale }}.</h1>
		<p>Here should be article number {{ id }}.</p>
	</div>
{% endblock %}